*{
    /* border: 1px solid red; */
}
.navbar {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    padding         : 10px 20px;
    background-color: #F8FAFC;
    color           : white;

}

.navbar .logo {
    display    : flex;
    align-items: center;
    gap        : 10px;
}

.navbar .logo .logo-contianer {
    background-color: #fff;
    height          : 40px;
    width           : 40px;
    border-radius   : 50%;
    display         : flex;
    align-items     : center;
    justify-content : center;
}

.navbar .logo .logo-contianer .logoimg {
    height: 100%;
    width : 100%;
    color : white;
}

.navbar .logo .company-name {
    font-size     : 1.3em;
    color         : #172B85;
    font-weight   : 600;
    font-family   : "poppins";
    letter-spacing: 1px;
}

.navbar .details {
    display    : flex;
    align-items: center;
    gap        : 20px;
}

.navbar .details .item {
    margin-right   : 10px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    gap            : 10px;
}

.navbar .details .item .logo_contianer {
    display         : flex;
    align-items     : center;
    justify-content : center;
    background-color: #fff;
    height          : 40px;
    width           : 40px;
    border-radius   : 50%;
}

.navbar .details .item .logo_contianer .icon {
    font-size: 20px;
    color    : #F8FAFC;
}

.navbar .details .item .subhead {

    font-weight: 500;
    color      : #4F5EA2;
    font-size  : 17px;
    font-family: "Poppins";
}

.navbar .details .dropdown {
    position        : relative;
    background-color: #F8FAFC;
    border          : none;
    outline         : none;
    cursor          : pointer;
}

.navbar .details .dropdown .select_tag {
    background      : none;
    border          : none;
    color           : #4F5EA2;
    font-size       : 17px;
    background-color: #F8FAFC;
    padding         : 5px;
    border          : none;
    outline         : none;
    cursor          : pointer;
    font-weight     : 500;
}


.navbar .hamburger {
    display: none;
    cursor : pointer;
    color  : #172B85;
}

.navbar .hamburger .bar {
    display         : block;
    width           : 25px;
    height          : 3px;
    margin          : 5px;
    background-color: #172B85;
}

/* Responsive Styles */
@media (max-width: 962px) {
    .navbar .details {
        display: none;
    }

    .navbar .hamburger {
        display: block;
    }

    .navbar.open .details {
        display         : flex;
        flex-direction  : column;
        justify-content : flex-start;
        align-items     : flex-start;
        position        : absolute;
        top             : 50px;
        right           : 0px;
        background-color: #F8FAFC;
        padding         : 10px 10px;
        gap             : 10px;
        border-radius   : 5px;
        height          : 100vh;
    }


}

@media (max-width: 300px) {
    .navbar {
        padding: 5px 10px;
    }

    .navbar .logo img {
        height: 30px;
    }

    .navbar .logo .company-name {
        font-size: 1em;
    }

    .navbar .details .item {
        margin-right: 10px;
    }

    .navbar .details .item .icon {
        margin-right: 2px;
    }
}